In [179]:
import numpy as np
import pandas as pd

1. How likely is it that you roll doubles when rolling two dice?

In [180]:
# generate the numbers
# reshape to the structure we want
# pd.Series.data.reshape((2,100))
# apply a condition to get a boolean, convert to int
# calculate liklihood (num of [1,1] over total sets)

n_col = 2
n_row = 100000
rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_row * n_col).reshape(n_row,n_col)

doubles = rolls[:,0] == rolls[:,1]
doubles
doubles.astype(int)

type(doubles)

df = pd.DataFrame(rolls, columns = ['Coin_1','Coin_2'])
df_doubles = pd.DataFrame(doubles)
df_doubles

           0
0      False
1      False
2      False
3      False
4       True
...      ...
99995  False
99996  False
99997  False
99998   True
99999  False

[100000 rows x 1 columns]

In [181]:
df_doubles.astype(int)
actual_doubles = df_doubles.sum()

prob_of_doubles = actual_doubles / df_doubles.count()
prob_of_doubles

#Probability of rolling doubles is 0.168 or 16.8%

0    0.16666
dtype: float64

Solution to Execerise 1 as a function below:

In [182]:
n_col = 2
n_row = 100000

def probability_of_doubles(n_row,n_col):
    rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_row * n_col).reshape(n_row,n_col)
    doubles = rolls[:,0] == rolls[:,1]
    doubles.astype(int)
    df = pd.DataFrame(rolls, columns = ['Coin_1','Coin_2']) 
    df_doubles = pd.DataFrame(doubles)
    df_doubles.astype(int)
    actual_doubles = df_doubles.sum()
    prob_of_doubles = actual_doubles / df_doubles.count()
    return prob_of_doubles

Exercise 2:

In [183]:
new_new_df = pd.DataFrame(num_heads_per_set_pdSer)
new_new_df['set_total'] = new_new_df[0].apply(lambda x: True if x == 3 else False)
new_new_df

       0  set_total
0      5      False
1      5      False
2      4      False
3      4      False
4      2      False
...   ..        ...
99995  5      False
99996  4      False
99997  6      False
99998  7      False
99999  5      False

[100000 rows x 2 columns]


2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [184]:
# 8 coins total
# part 1: find prob of 3 heads, no more no less
# part 2: find prob of more than 3 heads

# each coin either heads or tails 1 for heads 2 for tails
# can i reuse a lot of code from the previous exercise?

num_total_flips = 100000
num_coins = 8 #rename/flip roles for better readability

flips = np.random.choice([0,1], num_total_flips * num_coins).reshape(num_total_flips,num_coins)
# heads = flips[:,0] == rolls[:,1]
# doubles.astype(int)
# first_df = pd.DataFrame(flips, columns = ['coin_1, coin_2, coin_3, coin_4, coin_5, coin_6, coin_7, coin_8']) 
# df_doubles = pd.DataFrame(doubles)
# df_doubles.astype(int)
# actual_doubles = df_doubles.sum()
# prob_of_doubles = actual_doubles / df_doubles.count()


#how do I index an entire row? flips[:,:]? 

# flips[:].sum() # need this to calculate for each row n_coins

# if flips[n].sum() == 3:


#I want each row in flips to be summed and compared to == 3 for boolean series
#convert boolean series to int and sum, this gets the total number of sets that are == 3 heads
# use same code for part 2 except sum > 3

is_3_heads = 0

flips_int = flips.astype(int)
flips_pd_df = pd.DataFrame(flips, columns = ['coin_1', 'coin_2', 'coin_3', 'coin_4', 'coin_5', 'coin_6', 'coin_7', 'coin_8']) 
flips_pd_df

       coin_1  coin_2  coin_3  coin_4  coin_5  coin_6  coin_7  coin_8
0           0       1       0       1       1       1       1       0
1           1       0       0       0       0       0       1       1
2           1       0       1       0       0       1       1       0
3           1       0       0       1       1       1       1       1
4           1       0       1       1       0       0       1       1
...       ...     ...     ...     ...     ...     ...     ...     ...
99995       1       0       0       0       0       0       1       0
99996       1       1       1       0       1       0       1       0
99997       1       0       0       1       1       1       0       1
99998       1       1       1       0       1       1       1       0
99999       0       0       1       1       1       0       1       1

[100000 rows x 8 columns]

In [185]:
num_heads_per_set = flips.sum(axis = 1)
num_heads_per_set #this is a np array totaling each set of 8 coin flips
#how do I apply a condition to get booleans ==3?
num_heads_per_set_pdSer = pd.Series(num_heads_per_set)
num_heads_per_set_pdSer

0        5
1        3
2        4
3        6
4        5
        ..
99995    2
99996    5
99997    5
99998    6
99999    5
Length: 100000, dtype: int64

In [186]:
#initialize a variable to count num of rows that meet condition == 3
# or create a new series of only rows equal to 3 then count the rows .count()

is_1_if_3_heads = (num_heads_per_set_pdSer == 3).astype(int)

total_sets_with_3_heads = is_1_if_3_heads.sum() #22 sets are == 3

prob_of_exactly_3_heads = total_sets_with_3_heads / num_heads_per_set_pdSer.count()
prob_of_exactly_3_heads

0.21908

In [187]:
# put it all together for better readability

#Solution to Exercise 2#

num_total_flips = 100000
num_coins = 8

flips = np.random.choice([0,1], num_total_flips * num_coins).reshape(num_total_flips,num_coins)
flips_int = flips.astype(int)
flips_pd_df = pd.DataFrame(flips, columns = ['coin_1', 'coin_2', 'coin_3', 'coin_4', 'coin_5', 'coin_6', 'coin_7', 'coin_8']) 
num_heads_per_set = flips.sum(axis = 1)
num_heads_per_set_pdSer = pd.Series(num_heads_per_set)
is_1_if_3_heads = (num_heads_per_set_pdSer == 3).astype(int)
total_sets_with_3_heads = is_1_if_3_heads.sum()
prob_of_exactly_3_heads = total_sets_with_3_heads / num_heads_per_set_pdSer.count()
prob_of_exactly_3_heads

#can format the solution to show as a percentage rounded to 2 decimals for better radability

0.21936

In [188]:
(prob_of_exactly_3_heads * 100).round(2).astype(str) + '%'
#formatted for conveying probability to someone else, can not use like this for more calculations

'21.94%'

In [189]:
#same thing but greater than 3 heads

num_total_flips = 100000
num_coins = 8

flips = np.random.choice([0,1], num_total_flips * num_coins).reshape(num_total_flips,num_coins)
flips_int = flips.astype(int)
flips_pd_df = pd.DataFrame(flips, columns = ['coin_1', 'coin_2', 'coin_3', 'coin_4', 'coin_5', 'coin_6', 'coin_7', 'coin_8']) 
num_heads_per_set = flips.sum(axis = 1)
num_heads_per_set_pdSer = pd.Series(num_heads_per_set)
is_1_if_3_heads = (num_heads_per_set_pdSer > 3).astype(int)
total_sets_with_3_heads = is_1_if_3_heads.sum()
prob_of_exactly_3_heads = total_sets_with_3_heads / num_heads_per_set_pdSer.count()
prob_of_exactly_3_heads

0.63527


3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [190]:
# 3 webdev to 1 DatSci

billboards = np.random.choice([0,1], 100 * 2).reshape(100,2)
billboards #0 = webdev 1 = ds

array([[0, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 1],
       [1, 1],
       [0, 0]])


4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [191]:
outcomes = ['wd','wd', 'wd', 'ds']
n_billboards = 2
billboards = np.random.choice(outcomes, size=(100000, n_billboards))
billboards

array([['ds', 'ds'],
       ['wd', 'ds'],
       ['ds', 'wd'],
       ...,
       ['ds', 'wd'],
       ['wd', 'wd'],
       ['wd', 'wd']], dtype='<U2')

In [192]:
outcomes = ['wd', 'ds']
billboards = np.random.choice(outcomes, size=(100000, n_billboards), p=[0.75, 0.25])
billboards

array([['wd', 'wd'],
       ['ds', 'ds'],
       ['ds', 'wd'],
       ...,
       ['wd', 'wd'],
       ['wd', 'wd'],
       ['wd', 'wd']], dtype='<U2')


5. Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?


6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?


7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?


8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?